<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/head') %>
  <title>
    <%= title %>
  </title>
</head>

<body class="d-flex flex-column">
  <%- include('partials/navegacion') %>
  
  <!-- Contenido principal -->
  <header class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="/img/bienvenida.png" alt="">
      <h1 class="display-3 text-uppercase fw-bold mt-3"> Natanael Huenullan </h1>
      <a href="acerca" class="btn btn-success w-25 mt-3"> Acerca de </a>
    </div>
  </header>
</body>

</html>