<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/head') %>
    <title>
      <%= title %>
    </title>
</head>

<body class="d-flex flex-column">
  <%- include('partials/navegacion') %>

    <main class="flex-grow-1 container pt-2 text-center d-flex justifi-content-center align-items-center">
      <section>
        <h1 class="display-1 pb-2">
          Acerca de....
        </h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum minima quam aliquam, cumque recusandae nobis
          deleniti laboriosam dolores doloribus natus repellendus excepturi, vitae magnam voluptate! Amet cum et minima
          reprehenderit cumque dolorum animi modi sit aut hic harum ab quis, quod molestias accusamus, aliquam
          praesentium necessitatibus, eligendi laboriosam? Repudiandae saepe nesciunt officiis quisquam aperiam
          blanditiis libero, ad, eligendi ex soluta quos autem quia placeat iure voluptas id tempora repellendus dicta
          vero et numquam? Ratione aspernatur quaerat corporis temporibus fugiat doloremque, quidem exercitationem
          similique fuga architecto voluptate obcaecati dignissimos sed ipsum, officiis blanditiis labore vitae id
          repellat eligendi optio voluptatum magni laboriosam eaque. Libero repellat aspernatur non vero similique earum
          doloribus sequi neque dicta odio voluptas vel nam facilis pariatur ut, nulla repellendus laudantium
          repudiandae aut cum facere quibusdam distinctio. Cupiditate vero maxime impedit. Ullam ipsum fuga natus
          tempore eum iste aliquam rem libero id numquam nam ut quibusdam voluptatibus itaque molestiae corrupti rerum,
          culpa sint molestias facilis enim dolore quidem. Explicabo perspiciatis, iure beatae quasi debitis fugit
          deserunt aliquam totam ratione placeat ipsum est! Iure, nesciunt quibusdam harum magni culpa sapiente
          architecto distinctio. Impedit et suscipit saepe obcaecati, eos minus voluptate rem. Eaque laboriosam tenetur
          distinctio consectetur placeat quam blanditiis ipsam, est, veritatis provident facilis exercitationem odio, in
          dolor voluptatem animi soluta earum aspernatur accusantium vel perferendis velit facere dicta. Blanditiis
          exercitationem tempora, ipsum fugiat quibusdam veritatis aut alias, dolorem voluptas corporis non repudiandae
          culpa, natus voluptatum labore? Officia dolores illo aut quisquam nam cumque vitae numquam saepe aliquam unde!
          Deserunt error cupiditate est velit enim quia, placeat quos, inventore recusandae voluptatibus optio ullam,
          possimus labore veniam quibusdam quasi minus corrupti ipsam pariatur quidem repudiandae. Laborum corrupti et
          nam labore modi animi facilis obcaecati neque, doloribus ut unde quaerat fuga dicta odit nesciunt,
          praesentium, culpa officia consequatur incidunt eligendi sed.</p>
      </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>